<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <nav>
        <center>
            <a href="/">Home page</a>
            <a href="/contato">Contato</a>
            <a href="/produtos">Produtos</a>   
        </center>
              

    </nav>
    {% block content %}{% endblock%}

    

    <footer>
        <center>
            <p>__________________________________________________________________________________________________________________________________________</p>
            <p>Desenvolvido por fee wit, 2024</p>
        </center>
        <nav>
            <center>
                <a href="/termosdeuso">Termos de Uso</a>
                <a href="/politicadeprivacidade">Politicas de privacidade</a>
                <a href="/comoutilizar">Como Utilizar</a>
            </center>
        </nav>
    </footer>


    </body>
</html>