{%extends "base2.html"%}

{% block titulo %}Como Utilizar{% endblock%}

{% block conteudo %}
<center>
    <h2>Como Utilizar</h2>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
</center>
{% endblock%}