{%extends "base2.html"%}

{% block titulo %}Politicas de Privacidade{% endblock%}

{% block conteudo %}
<center>
    <h2>Politicas de Privacidade</h2>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
</center>
{% endblock%}