{%extends "base2.html"%}

{% block titulo %}Termos de uso{% endblock%}

{% block conteudo %}
<center>
    <h2>Termos de Uso</h2>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
    <p>__________________________________________________________________________________________________________________________________________</p>
</center>
{% endblock%}